:root{
    --bg-color: #222222de;
    --button-color: #FD853A;
    --text-color: #fff;
    --light-bg-color: #3d3c3c9d;
    
    --skill-bg-color: #202020ef;
    --project-bg-color: #3d3c3c9d;
    --tech-bg-color: #FD853A;

}